<header class="text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="<%= image_url('logo.png') %>" class="logo" alt="">


        <h1>First NSFW <br />chat bot for Slack</h1>
        <p>Your coworkers will rise below the desk</p>

        <a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands&client_id=2655059543.128228390837" class="btn">CONNECT NOW</a>

      </div>
    </div>
  </div>
  <div class="lp"><img src="<%= image_url('pl-icon-macbook.png') %>" alt=""></div>
</header>

<div class="main">
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-sm-4">
        <div class="col">
          <img src="<%= image_url('pl-icon-face-1.png') %>" class="img-responsive" alt="">
          <h4>Engaged Users</h4>
          <p>Keep your coworkers and employees engaged while they are commited to their hard tasks.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="col">
          <img src="<%= image_url('pl-icon-face-2.png') %>" class="img-responsive" alt="">
          <h4>Happy Mood</h4>
          <p>Keep them happy and entertained as long as humanly possible.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="col">
          <img src="<%= image_url('pl-icon-face-3.png') %>" class="img-responsive" alt="">
          <h4>Relaxed Atmosphere</h4>
          <p>You should give everyone a way to fly away with their wild imagination. You can now.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="slider single-item">
          <div>
            <img src="<%= image_url('testemonial1.png') %>" alt="">
            <h3>Life without Boobot wouldn’t have any sense. I’ve been<br />a happy customer for 3 months now!</h3>
            <p> SAM MULLINS- RUBY ON RAILS MANAGER</p>
          </div>
          <div>
            <img src="<%= image_url('testemonial2.png') %>" alt="">
            <h3>We have installed Boobot to our design group Slack<br />and are experiencing 69% better productivity!</h3>
            <p>JARED HAWKINS - FREELANCE DESIGNER</p>
          </div>
          <div>
            <img src="<%= image_url('testemonial3.png') %>" alt="">
            <h3>Best way to get a break during work time.<br />Boobot helps me to do it!</h3>
            <p>RICARDO HARDY - CUSTOMER SUPPORT AGENT</p>
          </div>
          <div>
            <img src="<%= image_url('testemonial4.png') %>" alt="">
            <h3>It's fun to have some fun<br />Boobot is the way!!</h3>
            <p>MARIO JOHNSTON - REAL ESTATE AGENT</p>
          </div>
          <div>
            <img src="<%= image_url('testemonial5.png') %>" alt="">
            <h3>Secretly everybody wants to have it<br />believe me, I know it!</h3>
            <p>JOE MASSEY - HEDGE FUND INVESTOR</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="get-banner">
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-sm-12">
        <img src="<%= image_url('pl-icon-footer-logo.png') %>" class="img-responsive" alt="">
        <h2>Every second, 17 people get bored.<br />Make a difference. Get Boobot!</h2>
        <p>YOUR COWORKERS WILL RISE UNDERNEATH THE DESK</p>

        <a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands&client_id=2655059543.128228390837" class="btn">GET BOOBOT</a>
      </div>
    </div>
  </div>
</div>

<footer></footer>
